.displayResult {
  display: inline-block;
  width: var(--container-width-xs);
  height: var(--container-height-sm);
  border-radius: 1.406rem;
  background: var(--color-rating-result-bg);
  color: var(--color-text-accent);
  text-align: center;
  line-height: var(--container-height-sm); /* vertically aligns text */
}

@media screen and (min-width: 1024px) {
  .thankYouMessage {
    margin-block-start: var(--space-sm);
  }

  .displayResult {
    width: var(--result-width);
    height: var(--result-height);
    line-height: var(--result-height);
  }
}