.ratingButton {
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 50%;
  background: var(--color-button-rating);
  color: var(--color-text-primary);
}

.ratingButton:hover {
  background: var(--color-button-rating-hover);
  color: var(--color-text-dark);
}

.selected {
  background: var(--color-button-rating-active);
  color: var(--color-text-dark);
}

@media screen and (min-width: 1024px) {
  .ratingButton {
    width: 3.188rem;
    height: 3.188rem;
    font-size: var(--font-size-md);
  }
}
